version: 1
formatters:
  basicFormatter:
    format: '[%(asctime)s][%(levelname)s][%(name)s #%(funcName)s:%(lineno)d] %(message)s'
    datefmt: '%Y-%m-%d %H:%M:%S'

loggers:
  applog:
    handlers: [consoleHandler]
    level: INFO
    qualname: applog
    propagate: 0

handlers:
  consoleHandler:
    class: logging.StreamHandler
    formatter: basicFormatter
    level: INFO

root:
  level: INFO
  handlers: [consoleHandler]

disable_existing_loggers: no
